* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

.header {
  min-height: 100vh;
  width: 100%;
  background-image: url("../imagenes/bannerprincipal.jpg");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  position: relative;
}

.header::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(24, 9, 65, 0.432);

  /*background-color: rgba(10, 5, 39, 0.7);*/
}

nav {
  display: flex;
  padding: 1% -1%;
  justify-content: space-between;
  align-items: center;
}

nav img {
  width: 300px;
  display: flex;
  padding: 1% -1%;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  flex: 1;
  margin-right: 2%;
  text-align: right;
}

.nav-links ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 20px;
  position: relative;
}

.nav-links ul li a {
  color: rgb(15, 3, 3);
  text-decoration: none;
  font-size: 13px;
}

#login b {
  color: black;
  font-family: "Poppins", sans-serif;
  text-shadow: rgb(255, 166, 0) 0 -2px;

  font-size: 20px;
  font-weight: 800;
}

.nav-links ul li::after {
  content: "";
  width: 0%;
  height: 2px;
  background: #f44336;
  display: block;
  margin: auto;
  transition: 0.5s;
}

.nav-links ul li:hover::after {
  width: 100%;
}

.text-box {
  width: 90%;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.text-box h1 {
  font-size: 62px;
}

.text-box p {
  margin: 10px 0 40px;
  font-size: 14px;
  color: #fff;
}

nav .fa {
  display: none;
}

nav:nth-of-type(1) div:nth-of-type(2) {
  position: fixed;
  background-color: transparent;
  height: 100vh;
  width: 0px;
  top: 0;
  right: auto;

  text-align: left;
}

@media (max-width: 800px) {
  .text-box h1 {
    font-size: 20px;
  }
  .nav-links ul li {
    display: block;
  }
  .nav-links {
    position: fixed;
    background: rgb(116, 75, 75);
    height: 100vh;
    width: 200px;
    top: 0;
    right: -240px;
    text-align: left;
    z-index: 2;
    transition: 1s;
  }

  nav:nth-of-type(1) div:nth-of-type(2) {
    position: fixed;
    background-color: transparent;
    height: 100vh;
    width: 0px;
    right: 40px;
    top: 0;
    left: auto;

    text-align: left;
  }
  nav .fa {
    display: block;
    color: #fff;
    margin: 10px;
    font-size: 22px;
    cursor: pointer;
  }
  .nav-links ul {
    padding: 35px;
  }
}
/*----------- objetivos de la app ---------*/
.objetivo {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 100px;
}

h1 {
  font-size: 36px;
  font-weight: 600;
}

p {
  color: #777;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  padding: 10px;
}

.row {
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
}

.objetivo-col {
  flex-basis: 31%;
  background: #fff3f3;
  border-radius: 10px;
  margin-bottom: 5%;
  padding: 20px 12px;
  box-sizing: border-box;
  transition: 0.5s;
}

h3 {
  text-align: center;
  font-weight: 600;
  margin: 10px 0;
}

.objetivo-col:hover {
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
}

@media (max-width: 700px) {
  .row {
    flex-direction: column;
  }
}
/*-----------------¿que abarca nuestra app?-----------*/
.problematica_app {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 50px;
}

.problematica_app-col {
  flex-basis: 32%;
  border-radius: 10px;
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;
}

.problematica_app-col img {
  max-width: 100%;
  display: block;
}

.apartado_1 {
  background: transparent;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.5s;
}

.apartado_1:hover {
  background: rgba(241, 113, 27, 0.883);
}

.apartado_1 h3 {
  width: 100%;
  font-weight: 500;
  color: rgb(255, 255, 255);
  font-size: 26px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  opacity: 0;
  transition: 0.5s;
}

.apartado_1:hover h3 {
  bottom: 49%;
  opacity: 1;
}
.contenedor_imagenes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

/* ----------- que podes hacer en este sitio web ----*/

.quepodeshacer_app {
  padding-top: 50%;
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 100px;
}

.quepodeshacer_app-col {
  padding-top: 5%;
  flex-basis: 31%;
  border-radius: 10px;
  margin-bottom: 5%;
  text-align: left;
}

.quepodeshacer_app-col img {
  width: 100%;
  border-radius: 10px;
}

.quepodeshacer_app-col p {
  padding: 0;
}

.quepodeshacer_app-col h3 {
  margin-top: 16px;
}

/*------- contactanos --------*/

.contactanos {
  margin: 100px auto;
  width: 80%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("../imagenes/banner.jpg");
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  text-align: center;
  padding: 100px 0;
}

.contactanos h1 {
  color: cornsilk;
  margin-bottom: 40px;
}

@media (max-width: 700px) {
  .contactanosh1 {
    font-size: 24px;
  }
}

/*---------footer--------*/

.footer {
  width: 100%;
  text-align: center;
  padding: 30px 0;
}

.footer h4 {
  margin-bottom: 25px;
  margin-top: 20px;
  font-weight: 600;
}

.icons .fa {
  color: crimson;
  margin: 0 13px;
  cursor: pointer;
  padding: 18px 0;
}

.fa-heart-o {
  color: crimson;
}

.nav divul li {
  list-style: none;
  display: inline-block;
  padding: 8px 20px;
  position: relative;
}
