.bg-mynav {
  background-color: #e4a32a;
}

body {
  font-size: 1.25rem;
  background-color: #f6f8fa;
}

td {
    line-height: 3rem;
}

a{
  text-decoration: none;
  color: black;
}

#lote{
  background-color:#e4a32a;
}

#agregar{
  background-color: #e4a32a;
}

#update{
  background-color: green;
}

#perfilvacas{
  background-color: indigo;
}