<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="../estilos/formulario_vacas_estilo.css">
    
    <title>Formulario de Vacas</title>
</head>
<body>
      <div class="login-container">
          <div class="login-info-container">
            <h1 class="title">Ingrese hola aaaaaaaaaaaaaaaaaaaaaaa</h1>
            {{#with vacas}}
            <p>Ingrese</p>
            <form action="/update/{{id_vacas}}" method="POST"class="inputs-container">
               
				<input class="input"  value = :{{raza}}  type ="text" name="raza" placeholder="Raza de la Vaca ">
				<input class="input" value= {{edad}} type="number" name="edad"  step="0.01"  placeholder="Edad de la Vaca">
                <input class="input" value={{peso}} type="number" name="peso" step="0.10"  placeholder="Peso de la vaca">

                <input  type="submit"  class="btn" value="Actualizar Vaca">
                
            </form>
            {{/with}}
          </div>
            <img class="image-container" src="../imagenes/login_vacas.svg" alt="">
      </div>

</body>
</html>