<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="./scripts/api.js"></script>
    <link rel="stylesheet" href="estilos/formulario_vacas_estilo.css">
    
    <title>Formulario de Vacas</title>
</head>
<body>
      <div class="login-container">
          <div class="login-info-container">
            <h1 class="title">Ingrese la vaca que desee en su tabla</h1>
           
            <p>Ingrese</p>
            <form action="/formulario_vacas" method="POST"class="inputs-container">

				<select  id="razas" class="input" name="razas"> 
<option value="disabled selected"> razas</option>
<option value="1">razas</option>

</select>
				<input class="input" type="number" name="edad"  step="0.01"  placeholder="Edad de la Vaca">
                <input class="input" type="number" name="peso" step="0.10"  placeholder="Peso de la vaca">
                <input  type="hidden" class="input"  name="id_usuario"  value="{{id_usuario}}"  > 
                <button class="btn"> </a>Registrar Vaca </a></button>
                
            </form>
          </div>
            <img class="image-container" src="imagenes/login_vacas.svg" alt="">
      </div>
</body>
</html>