<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="estilos/estilos.css" rel="stylesheet" type="text/css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap"
    rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">


  <!---------nav and header---------->
  <title>Agroindustria-home</title>
</head>

<body>
  <section class="header">
    <nav>
      <a href="home"><img src="imagenes/agrogenda.png"></a>

      <div class="nav-links" id="navLinks">
        <i class="fa fa-times" onclick="hideMenu()"></i>

  <div class="login" id="login">

        <b> ¡Hola  {{usuario}}  ! </b>
</div>


        <ul>
         
          <li> <a href="/nosotroslogin">Sobre Nosotros</a></li>
          <li> <a href="vacas">Ver listado de Vacas <a></li>
          <li> <a href="formulario_vacas">Registrar Vaca </a></li>
          <li> <a href="/logout">Cerrar Sesion</a></li>
          
        </ul>
      </div>
      <div class="nav-links" id="navLinks">
        <i class="fa fa-bars" onclick="showMenu()"></i>
      </div>

    </nav>


    <div class="text-box">
      <h1> <b> Agroindustria al alcance de tu mano</b></h1>
      <p>La agroindustria es la actividad económica que se dedica a la producción, industrialización y comercialización
        de productos agropecuarios, forestales y otros recursos naturales biológicos.
      </p>
      
    </div>

  </section>

  <!----------Obejtivo de la app----------->
  <section class="objetivo">
    <h1><b> Objetivos de la App</b></h1>
    <p> Uno de los principales objetivos de la app es brindar las herramientas necesarias para la gestion de tus animales 
      de una manera facil, rapida y sencilla.
    </p>


    <div class="row">
      <div class="objetivo-col">
        <h3> FACILIDAD</h3>
        <p> Esta App esta diseñada para ser entendida facilmente y con claridad, para consentrarse en lo que realmente
          importa, ¡Tu ganado!
        </p>
      </div>
      <div class="objetivo-col">
        <h3> RAPIDEZ</h3>
        <p> Con nuestros atajos, explora de manera mas rapida y comoda nuestra App Web, para no perderte de nada. 
        </p>
      </div>
      <div class="objetivo-col">
        <h3> EFICIENCIA</h3>
        <p> Abastece todos tus deseos con respecto a la agroindustria, sin tantas vueltas y en poco tiempo 
        </p>
      </div>
    </div>

  </section>
  <!-------------problematicas que abarca la app -------------------->

  <section class="problematica_app">
    <h1><b> ¿Que abarca nuestra app?</b> </h1>
    <p> Los contenidos de la app son:  </p>

    <div class="contenedor_imagenes">
      <div class="problematica_app-col">
        <img src="imagenes/vaquitas.jpg">
        <div class="apartado_1">
          <h3> VACAS</h3>
        </div>
      </div>
      <div class="problematica_app-col">
        <img src="imagenes/gallinas.jpg">
        <div class="apartado_1">
          <h3> PROXIMAMENTE</h3>
        </div>
      </div>
      <div class="problematica_app-col">
        <img src="imagenes/cerditos.jpg">
        <div class="apartado_1">
          <h3> PROXIMAMENTE</h3>
        </div>
      </div>
    </div>

  </section>

  <!------¿que podes hacer con la app? ----->

  <section class="quepodeshacer_app">
    <h1><b> ¿Que podes hacer en este sitio Web?</b></h1>
    <p> Entre otras opciones, en nuestra app podes hacer: </p>

    <div class="row">
      <div class="quepodeshacer_app-col">
        <img src="imagenes/controla.jpg">
        <h3> CONTROLA</h3>
        <p> Controla el ingreso y egreso de tus animales
          de una forma sencilla y facil con las herramientas de nuestra 
          aplicacion web. </p>

      </div>
      <div class="quepodeshacer_app-col">
        <img src="imagenes/administra.jpg">
        <h3>ADMINISTRA</h3>
        <p>Chequea el ganado de tus animales cuando y donde quieras, modificando y agregando en todo momento 
          el estado de los mismo de una manera eficiente </p>

      </div>
      <div class="quepodeshacer_app-col">
        <img src="imagenes/explora .jpg">
        <h3> EXPLORAR</h3>
        <p> Da  un  vistazo a  todas las posibilidades que podras emplear
          con nuestras funcionalidades de forma facil, dinamica y divertida
         ¡ No dejes de explorar !  </p>

      </div>
    </div>


  </section>

  <!-------contactanos-------->

  <section class="contactanos">
    <h1> El mundo de la agroindustria es mucho mas de lo que imaginas </h1>
    

  </section>

  <!-------FOOTER-------->

  <section class="footer">
    <h4> Sobre nosotros  </h4>
    <p>
      Alumnos: Figueroa Ana, Gomez Melany, Peralta Joaquín
    </p>
    
    <p> Made with <i class="fa fa-heart-o"></i> by tecnica 4</p>
  </section>












  <!--------------JavaScrip para el menu --------------->
  <script>
    function showMenu() {
      document.getElementById("navLinks").style.width = "400px";
      document.getElementById("nav-Links").style.right = "0px";
      document.getElementById("nav:nth-of-type(1) div:nth-of-type(2)").style.visibility = (visibilidad ? 'visible' : 'hidden');
    }
    function hideMenu() {
      document.getElementById("navLinks").style.width = "0";
      document.getElementById("nav-Links").style.right = "-200px";
    }




    /*function showMenu() {
     // document.getElementById("navLinks").style.width = "250px";
      //document.getElementById("nav-Links").style.right = "0px";
            navLinks.style.right = "100px";
    }
    
        function hideMenu() {
     // document.getElementById("navLinks").style.width = "0";
      //document.getElementById("nav-Links").style.right= "-200px";
            navLinks.style.right = "200px";
    }*/
  </script>
</body>

</html>